<div class="row">
    <div class="col-12">
        <h1 class="text-center">Bem vindo Aventureiro</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut molestie felis.
            Vivamus imperdiet tellus nec nibh viverra, et tempus risus faucibus. Cras sed lacus nisi.
            Mauris lacus diam, consectetur quis arcu vel, iaculis interdum enim. Mauris non purus velit.
            Pellentesque ante quam, gravida eget felis sit amet, tempus condimentum metus. Proin aliquam
            convallis velit, sit amet elementum lectus ornare ut. Cras purus massa, volutpat eu interdum
            euismod, porttitor quis ante. Nunc quis consectetur enim, at tincidunt sapien. Nulla quis mattis enim.
        </p>
    </div>
</div>