<div class="row">
    <div class="col-12 text-center">
        <h2 class="pb-5">Contador</h2>
        <h5 id="result"></h5>
        <button class="btn btn-mod" onclick="incrementar()">Adicionar</button>
    </div>

</div>