<div class="row justify-content-center">
    <h2 class="pb-5">Está pronto para embarcar nessa jornada?</h2>
    <div class="col-md-6 img-col">
        <img src="~/assets/images/Logo_final_light_fundo.jpg" />
    </div>
    <div class="col-md-6 d-flex align-self-center">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut molestie felis. Vivamus imperdiet tellus nec nibh viverra,
            et tempus risus faucibus. Cras sed lacus nisi. Mauris lacus diam, consectetur quis arcu vel, iaculis interdum enim. Mauris non
            purus velit. Pellentesque ante quam, gravida eget felis sit amet, tempus condimentum metus. Proin aliquam convallis velit, sit
            amet elementum lectus ornare ut. <br />
            <br />
            Cras purus massa, volutpat eu interdum euismod, porttitor quis ante. Nunc quis consectetur enim,
            at tincidunt sapien. Nulla quis mattis enim.
        </p>
    </div>
</div>