<section class="section-padding" id="bemVindo">
    <div class="container">
        <partial name="_BemVindo" />
    </div>
</section>

<section class="section-padding" id="embarcar">
    <div class="container">
        <partial name="_Embarcar" />
    </div>
</section>

<section class="section-padding section-contador" id="contador">
    <div class="container">
        <partial name="_Contador" />
    </div>
</section>

<section>
    <div class="container">
        <vc:formulario></vc:formulario>
    </div>
</section>